{% extends '@App/base.html.twig' %}

{% block body %}
    {% if user %}
    <div class="columns is-mobile is-multiline is-centered  notification">

        <div class="column is-narrow">
            <figure class="image is-128x128">
                <img src="{{ user.images.0.url }}">
            </figure>
        </div>
        <div class="column is-narrow">
            <p><strong>Display name:</strong> {{ user.display_name }}</p>
            <p><strong>Country:</strong> {{ user.country }}</p>
            <p><strong>Email:</strong>  {{ user.email }}</p>
            <p><strong>Id:</strong>  {{ user.id }}</p>
            <p><strong>Type:</strong>  {{ user.product }}</p>
        </div>
    </div>
    <div class="columns notification has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">Favourite Artist</h3>
            <p>{{ artist.items.0.name }}</p>
        </div>
        <div class="column">
            <h3 class="title">Favourite Track</h3>
            <p><strong>{{ track.items.0.artists.0.name }}</strong> - {{ track.items.0.name }}</p>
        </div>
        <div class="column">
            <h3 class="title">Recently Played Track</h3>
            <p><strong>{{ recentlyPlayed.items.0.track.artists.0.name }}</strong> - {{ recentlyPlayed.items.0.track.name }}</p>
        </div>
    </div>
    <div class="columns notification has-text-centered">
        <div class="column is-one-third">
            <h3 class="title">Count of Saved Tracks</h3>
            <p>{{ countOfSavedTracks }}</p>
        </div>
        <div class="column">
            <h3 class="title">Favourite Genre</h3>
            <p>{{ favouriteGenre }}</p>
        </div>
        <div class="column">
            <h3 class="title">Count of Playlists</h3>
            <p>{{ countOfPlaylists }}</p>
        </div>
    </div>
        {% endif %}
    <canvas id="test"></canvas>
{% endblock %}


