{% extends '@App/base.html.twig' %}

{% block body %}
    {% if user %}
        <div class="columns is-mobile is-multiline is-centered top-column">
            <div class="column is-narrow">
                <figure class="image is-128x128">
                    <img src="{{ user.images.0.url }}">
                </figure>
            </div>
            <div class="column is-narrow">
                <p><strong>Display name:</strong> {{ user.display_name }}</p>
                <p><strong>Country:</strong> {{ user.country }}</p>
                <p><strong>Email:</strong>  {{ user.email }}</p>
                <p><strong>Id:</strong>  {{ user.id }}</p>
                <p><strong>Type:</strong>  {{ user.product }}</p>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column is-one-third ">
                <h3 class="title">Favourite Artist</h3>
                <p>{{ artist.items.0.name }}</p>
            </div>
            <div class="column is-one-third">
                <h3 class="title">Favourite Track</h3>
                <p><strong>{{ track.items.0.artists.0.name }}</strong> - {{ track.items.0.name }}</p>
            </div>
            <div class="column is-one-third">
                <h3 class="title">Recently Played Track</h3>
                <p><strong>{{ recentlyPlayed.items.0.track.artists.0.name }}</strong> - {{ recentlyPlayed.items.0.track.name }}</p>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column is-one-third">
                <h3 class="title">Count of Saved Tracks</h3>
                <p>{{ countOfSavedTracks }}</p>
            </div>
            <div class="column">
                <h3 class="title">Favourite Genre</h3>
                <p>{{ favouriteGenre }}</p>
            </div>
            <div class="column">
                <h3 class="title">Count of Playlists</h3>
                <p>{{ countOfPlaylists }}</p>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column is-one-third">
                <h3 class="title">Type of Account among Users</h3>
                <canvas id="test"></canvas>
            </div>
            <div class="column">
                <h3 class="title">Favourite Genre</h3>
            </div>
            <div class="column">
                <h3 class="title">Count of Playlists</h3>
            </div>
        </div>
    {% else %}
    <section class="hero wrap is-fullheight wrap">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <p class="title">
                        Hello dude!
                    </p>
                    <p class="subtitle">
                        If you want to check your stats on Spotify, press button below :)
                    </p>
                    <a class="button is-primary" href="{{ url("hwi_oauth_service_redirect", {service: "spotify"}) }}">
                        <span class="icon">
                            <i class="fa fa-spotify spotify-icon"></i>
                        </span>
                        Login with Spotify
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}


