{% extends '@App/base.html.twig' %}

{% block body %}
    {#{% if user %}
    {{ user.country }}
    {% endif %}#}
    <div class="columns is-mobile is-multiline is-centered  notification">
        <div class="column is-narrow">
            <figure class="image is-128x128">
                <img src="{{ user.images.0.url }}">
            </figure>
        </div>
        <div class="column is-narrow">
            <p><strong>Display name:</strong> {{ user.display_name }}</p>
            <p><strong>Country:</strong> {{ user.country }}</p>
            <p><strong>Email:</strong>  {{ user.email }}</p>
            <p><strong>Id:</strong>  {{ user.id }}</p>
            <p><strong>Type:</strong>  {{ user.product }}</p>
        </div>
    </div>
{% endblock %}


